
@inject IStringLocalizer<Index> _localizer
@page "/"

<h1>@_localizer["Benvenuto"]</h1>

 @_localizer["Benvenuto Nella Tua Applicazione!"]


<BlazorServerLocalization.Components.Test.TestingLocalizer></BlazorServerLocalization.Components.Test.TestingLocalizer>